{% extends 'si664finalproject/base.html' %}

{% block content %}

{% if user.is_authenticated %}

{% include 'si664finalproject/pagination.html' %}

{% if cities %}
  <ul>
	{% for city in cities %}


  <!-- safe filter on for raw HTML stored in database -->
	<li><a href="{% url 'city_detail' city.pk %}">{{ city.city | safe }}</a></li>
	{% endfor %}

  </ul>
  {% else %}
  <p>No Cities are available to view.</p>
  {% endif %}

  <p>page count: {{ cities.count }}</p>
  </article>

{% else %}
   <a href="{% url 'login' %}">Log in</a>
 {% endif %}

{% endblock content %}}
